@font-face {
    font-family: "Roboto";
    src: url(font/Roboto-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    src: url(font/Roboto-Bold.ttf);
    font-weight: 700;
}

#corpo {
    width: 400px;
    height: auto;
    display: grid;
    row-gap: 10px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    margin-top: 10%;
    padding: 10px;
    border-radius: 2%;
    background-color: #242424;
}

#display {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: flex-end;
    width: 100%;
    height: 6rem;
    object-fit: cover;
    background-color: #E2E2E2;
}

#monitorDis {
    width: 100%;
    grid-row: span 2;
    align-items: start;
    padding: 0 10px;
    text-align: end;
    font-size: 3.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #242424;
}

#monitor {
    width: 100%;
    align-items: start;
    text-align: center;
    padding: 0 20px;
    text-align: end;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #242424;
}

#tec {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 2/ 5;
    gap: 5px;
}

#tec>.buttons,
.cor,
.equal,
.operador {
    width: 100%;
    color: #E2E2E2;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    border: none;
    background: #343434;
    box-shadow: 0px 4px 9px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    cursor: pointer;
}

.equal {
    grid-column: span 2;
    background: #e2e2e2;
    color: #242424;
}

.cor {
    background: #e2e2e2;
    color: #242424;
}